In [ ]:
import csv

###Reading Train Data

In [ ]:
data={}
try:
    with open("train.csv","r") as train:
        reader=csv.DictReader(train)
        for row in reader:
            try:
                data[row["Train ID"]] = {
                    "Train Name": row["Train Name"],
                    "Source Station": row["Source Station"],
                    "Destination Station": row["Destination Station"],
                    "Total Seats": int(row["Total Seats"])
                }
            except (KeyError, ValueError) as e:
                    print(f"Skipping train record due to invalid data: {row} ({e})")
except FileNotFoundError:
        print(f"Error: Train file '{train.csv}' not found.")
except Exception as e:
        print(f"Unexpected error reading train file: {e}")
revenue = {}

In [ ]:
data

{'K4J8MP': {'Train Name': 'Shatabdi Express',
  'Source Station': 'Kolkata',
  'Destination Station': 'Surat',
  'Total Seats': 1113},
 '9DZOCS': {'Train Name': 'Duronto Express',
  'Source Station': 'Pune',
  'Destination Station': 'Delhi',
  'Total Seats': 354},
 'PNQT3K': {'Train Name': 'Superfast Express',
  'Source Station': 'Jaipur',
  'Destination Station': 'Ahmedabad',
  'Total Seats': 981},
 '5FLYAZ': {'Train Name': 'Intercity Express',
  'Source Station': 'Delhi',
  'Destination Station': 'Bangalore',
  'Total Seats': 422},
 'LMC9BV': {'Train Name': 'Garib Rath',
  'Source Station': 'Chennai',
  'Destination Station': 'Ahmedabad',
  'Total Seats': 782},
 'QW35YT': {'Train Name': 'Double Decker',
  'Source Station': 'Mumbai',
  'Destination Station': 'Surat',
  'Total Seats': 1067},
 'T9FG6E': {'Train Name': 'Humsafar Express',
  'Source Station': 'Hyderabad',
  'Destination Station': 'Kolkata',
  'Total Seats': 676},
 'AVRPNC': {'Train Name': 'Jan Shatabdi',
  'Source Station': 'Bangalore',
  'Destination Station': 'Jaipur',
  'Total Seats': 833},
 'ZKD8EW': {'Train Name': 'Shatabdi Express',
  'Source Station': 'Ahmedabad',
  'Destination Station': 'Chennai',
  'Total Seats': 471},
 'BXY9LT': {'Train Name': 'Rajdhani Express',
  'Source Station': 'Surat',
  'Destination Station': 'Pune',
  'Total Seats': 663},
 'KC7TLE': {'Train Name': 'Duronto Express',
  'Source Station': 'Delhi',
  'Destination Station': 'Mumbai',
  'Total Seats': 939},
 'MGZJRF': {'Train Name': 'Tejas Express',
  'Source Station': 'Pune',
  'Destination Station': 'Hyderabad',
  'Total Seats': 382},
 'J3P8OL': {'Train Name': 'Rajdhani Express',
  'Source Station': 'Bangalore',
  'Destination Station': 'Ahmedabad',
  'Total Seats': 1182},
 'R7XQMG': {'Train Name': 'Jan Shatabdi',
  'Source Station': 'Kolkata',
  'Destination Station': 'Chennai',
  'Total Seats': 576},
 'NTFV9C': {'Train Name': 'Garib Rath',
  'Source Station': 'Jaipur',
  'Destination Station': 'Hyderabad',
  'Total Seats': 649},
 'W9D7RJ': {'Train Name': 'Intercity Express',
  'Source Station': 'Hyderabad',
  'Destination Station': 'Pune',
  'Total Seats': 1167},
 'EYH2MK': {'Train Name': 'Tejas Express',
  'Source Station': 'Surat',
  'Destination Station': 'Bangalore',
  'Total Seats': 1014},
 'U2XCM5': {'Train Name': 'Double Decker',
  'Source Station': 'Ahmedabad',
  'Destination Station': 'Jaipur',
  'Total Seats': 355},
 'F7KOEI': {'Train Name': 'Superfast Express',
  'Source Station': 'Chennai',
  'Destination Station': 'Mumbai',
  'Total Seats': 1134},
 'V3N5LH': {'Train Name': 'Humsafar Express',
  'Source Station': 'Mumbai',
  'Destination Station': 'Delhi',
  'Total Seats': 893}}

###Booking and Updating No of seats

In [ ]:
try:
    with open("passenger.csv", "r") as passenger:
        reader = csv.DictReader(passenger)
        for row in reader:
            train_id = row["Train ID"]
            passenger_name = row["Passenger Name"]
            tickets = int(row["Number of Tickets"])

            if train_id not in data:
                print(f"Booking failed for {passenger_name}: Invalid Train ID {train_id}")
                continue

            if tickets <= 0:
                print(f"Booking failed for {passenger_name}: Invalid ticket count {tickets}")
                continue

            if data[train_id]["Total Seats"] >= tickets:
                data[train_id]["Total Seats"] -= tickets
                fare = tickets * 295
                revenue[train_id] = revenue.get(train_id, 0) + fare
                print(f"Booking confirmed for {passenger_name} on {train_id} ({tickets} seats)")
            else:
                print(f"Booking failed for {passenger_name}: Not enough seats")
except Exception as e:
    print(f"Unexpected error while booking: {e}")

Booking confirmed for Passenger_1 on KC7TLE (2 seats)
Booking confirmed for Passenger_2 on W9D7RJ (3 seats)
Booking confirmed for Passenger_3 on LMC9BV (4 seats)
Booking confirmed for Passenger_4 on QW35YT (2 seats)
Booking confirmed for Passenger_5 on MGZJRF (5 seats)
Booking confirmed for Passenger_6 on BXY9LT (2 seats)
Booking confirmed for Passenger_7 on T9FG6E (4 seats)
Booking confirmed for Passenger_8 on K4J8MP (1 seats)
Booking confirmed for Passenger_9 on U2XCM5 (2 seats)
Booking confirmed for Passenger_10 on NTFV9C (1 seats)
Booking confirmed for Passenger_11 on F7KOEI (6 seats)
Booking confirmed for Passenger_12 on K4J8MP (2 seats)
Booking confirmed for Passenger_13 on J3P8OL (5 seats)
Booking confirmed for Passenger_14 on AVRPNC (3 seats)
Booking confirmed for Passenger_15 on 5FLYAZ (2 seats)
Booking confirmed for Passenger_16 on NTFV9C (4 seats)
Booking confirmed for Passenger_17 on R7XQMG (1 seats)
Booking confirmed for Passenger_18 on T9FG6E (2 seats)
Booking confirmed for Passenger_19 on PNQT3K (3 seats)
Booking confirmed for Passenger_20 on ZKD8EW (5 seats)

In [ ]:
data['5FLYAZ']['Total Seats']

420

In [ ]:
revenue.keys()

dict_keys(['KC7TLE', 'W9D7RJ', 'LMC9BV', 'QW35YT', 'MGZJRF', 'BXY9LT', 'T9FG6E', 'K4J8MP', 'U2XCM5', 'NTFV9C', 'F7KOEI', 'J3P8OL', 'AVRPNC', '5FLYAZ', 'R7XQMG', 'PNQT3K', 'ZKD8EW'])

###Reports

In [ ]:
    # Generate reports
print("\n--- Report 1: Seat Availability ---")
for keys, values in data.items():
      print(f"{keys}: {values['Total Seats']} seats remaining")

print("\n--- Report 2: Revenue ---")
for tid, amount in revenue.items():
      print(f"{tid}: ₹{amount}")

--- Report 1: Seat Availability ---
K4J8MP: 1104 seats remaining
9DZOCS: 354 seats remaining
PNQT3K: 972 seats remaining
5FLYAZ: 416 seats remaining
LMC9BV: 770 seats remaining
QW35YT: 1061 seats remaining
T9FG6E: 658 seats remaining
AVRPNC: 824 seats remaining
ZKD8EW: 456 seats remaining
BXY9LT: 657 seats remaining
KC7TLE: 933 seats remaining
MGZJRF: 367 seats remaining
J3P8OL: 1167 seats remaining
R7XQMG: 573 seats remaining
NTFV9C: 634 seats remaining
W9D7RJ: 1158 seats remaining
EYH2MK: 1014 seats remaining
U2XCM5: 349 seats remaining
F7KOEI: 1116 seats remaining
V3N5LH: 893 seats remaining

--- Report 2: Revenue ---
KC7TLE: ₹2180
W9D7RJ: ₹3270
LMC9BV: ₹4360
QW35YT: ₹2180
MGZJRF: ₹5450
BXY9LT: ₹2180
T9FG6E: ₹6540
K4J8MP: ₹3270
U2XCM5: ₹2180
NTFV9C: ₹5450
F7KOEI: ₹6540
J3P8OL: ₹5450
AVRPNC: ₹3270
5FLYAZ: ₹2180
R7XQMG: ₹1090
PNQT3K: ₹3270
ZKD8EW: ₹5450

In [ ]:
# Report 1 CSV
with open("report1.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Train ID", "Train Name", "Source Station", "Destination Station", "Seats Remaining"])
    for key, values in data.items():
        writer.writerow([
            tid,
            values["Train Name"],
            values["Source Station"],
            values["Destination Station"],
            values["Total Seats"]
        ])
print("Report 1 saved as report1.csv")

# Report 2 CSV
with open("report2.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["Train ID", "Revenue (₹)"])
    for tid, amount in revenue.items():
        writer.writerow([tid, amount])
print(" Report 2 saved as report2.csv")

Report 1 saved as report1.csv
 Report 2 saved as report2.csv